# Environment variables
.env

# Firebase service account keys
serviceAccountKey.json
*serviceAccount*.json
package-lock.json
package.json

hardsign.js
hardlog.js

# Node modules
node_modules/

# Logs
*.log
